/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    padding: 20px;
}

/* Container styles */
.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Sidebar styles */
aside {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ddd;
}

#total {
    margin-top: 20px;
    font-weight: bold;
}

/* Main content styles */
main {
    flex: 3;
    padding: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    margin-bottom: 10px;
}

button {
    border: 2px solid orange;
    border-radius: 20px;
    background-color: orange;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: orange;
}


